@using GP.Common
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>列表页</title>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/MyJs/global.js"></script>
    <script src="~/Scripts/MyJs/MyPageList/PageList1.js"></script> 
    <script src="~/Scripts/MyJs/autosize.js"></script>
    <script src="~/Scripts/MyJs/bootstrap-2.3.3/js/bootstrap.min.js"></script>
    <link href="~/Content/MyCss/global.css" rel="stylesheet" />
    <link href="~/Content/MyCss/bootstrapNoTable/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript">
        var students_real_name = '@CommonFunc.SafeGetStringFromObj(ViewData["students_real_name"])';
        var disease_name = '@CommonFunc.SafeGetStringFromObj(ViewData["disease_name"])';
        var required_num = '@CommonFunc.SafeGetStringFromObj(ViewData["required_num"])';
        var master_degree = '@CommonFunc.SafeGetStringFromObj(ViewData["master_degree"])';
        $(window).load(function () {
            $("textarea").autosize();
            loadPageList(1);
        });

        function loadPageList(pi) {
            $.post('@Url.Action("PageList")', {
                "pi": pi, "students_real_name": students_real_name, 
                "disease_name": disease_name, "required_num": required_num, "master_degree": master_degree
            },
              function (data) {
                  var jsonArr = data;
                  if (jsonArr.data == null) {
                      $("#tbList tr:gt(0)").remove();
                  } else {
                      createRows(jsonArr.data, pi);
                  }
                  createPageBar($("#PageList"), pi, jsonArr.totalCount, jsonArr.pageCount);

              });
        }

        function createRows(jsonArr, pi) {
            var tbL = $("#tbList");
            $("#tbList tr:gt(0)").remove();
            var arr = new Array();
            for (i = 0; i < jsonArr.length; i++) {
                var temp = jsonArr[i].disease_name;
                var k = 0;
                for (j = 0; j < jsonArr.length; j++) {
                    if (jsonArr[j].disease_name == temp) {
                        k++;
                        arr[i] = k;
                    }
                }

            }
            for (i = 0; i < jsonArr.length; i++) {
                var trHTML = "<tr class='listTableContentRow'>";
                trHTML += "<td style='height:25px'>" + jsonArr[i].students_real_name + "</td>";
                trHTML += "<td>" + jsonArr[i].professional_base_name + "</td>";
                trHTML += "<td>" + jsonArr[i].dept_name + "</td>";
                trHTML += "<td>" + jsonArr[i].disease_name + "</td>";
                if (jsonArr[i].required_num == "" || jsonArr[i].required_num == null) {
                    trHTML += "<td>" + '无' + "</td>";
                } else {
                    trHTML += "<td>" + jsonArr[i].required_num + "</td>";
                }
                trHTML += "<td>" + arr[i] + "</td>";

                if (jsonArr[i].master_degree == "" || jsonArr[i].master_degree == null) {
                    trHTML += "<td>" + '无' + "</td>";
                } else {
                    trHTML += "<td>" + jsonArr[i].master_degree + "</td>";
                }
                trHTML += "<td><a style='text-decoration:none;color:red;' onclick=\"handle('" + jsonArr[i].teacher_check + "','" + jsonArr[i].id + "','" + pi + "');\" href='#'>" + jsonArr[i].teacher_check + "</a></td>";
                trHTML += "<td><a href='#' onclick=\"show('" + jsonArr[i].id + "');\"><img alt='查看详细资料' src='/images/imgs/icon_show.gif'/></a></td>";
                trHTML += "</tr>";
                tbL.append(trHTML);


            }
            MouseAnimate();
        }
        function handle(check, id, pi) {
            $.ajax({
                cache: false,
                type: "get",
                url: '@Url.Action("Handle")',
                dataType: "text",
                data: { id: id, check: check },
                success: function (data) {
                    if (data == "1") {
                        loadPageList(pi);
                        return;
                    } else {
                        alert("审核操作失败");
                    }

                },
                error: function () {
                    alert("系统繁忙，请联系管理员");
                }

            });
        }

        function show(id) {
            LoadData(id);
            $("#myModal").modal('show');
        }

        function LoadData(id) {
           
            $.ajax({
                cache: false,
                asycn: true,
                type: "get",
                url: '@Url.Action("LoadData")',
                dataType: "text",
                data: { id: id },
                success: function (data) {
                    var jsonArr = eval("(" + data + ")");

                    $("#disease_name").val(jsonArr.disease_name);
                    $("#patient_name").val(jsonArr.patient_name);
                    $("#case_num").val(jsonArr.case_num);
                    $("#main_diagnosis").val(jsonArr.main_diagnosis);
                    $("#secondary_diagnosis").val(jsonArr.secondary_diagnosis);
                    $("input:radio[name='is_charge'][value=" + jsonArr.is_charge + "]").attr("checked", true);
                    $("input:radio[name='is_rescue'][value=" + jsonArr.is_rescue + "]").attr("checked", true);

                    $("#cure_measure").val(jsonArr.cure_measure);
                    $("#condition").val(jsonArr.condition);
                    $("#visit_date").val(jsonArr.visit_date);
                    $("#comment").val(jsonArr.comment);

                },
                error: function () {
                    alert("系统繁忙，请联系管理员")
                }
            });
        }
    </script>
</head>
<body>
    <div>
        <table class="listTableHead" cellspacing="0" cellpadding="0" style="width:100%">
            <tr>
                <td class="listTableHeadTR" style="height: 22px;" width="20%">
                    <img height="16" src="/images/imgs/Query.gif" width="16" style="vertical-align: middle" />学员病种信息查询结果
                </td>
            </tr>
        </table>
        <table id="tbList" class="listTable" cellspacing="1" cellpadding="0" style="width:100%">
            <tr id="tr0" class="listTableTitleRow">
                <td>姓名</td>
                <td>专业基地</td>
                <td>轮转科室</td>
                <td>病种名称</td>
                <td>要求例数</td>
                <td>已完成例数</td>
                <td>掌握程度</td>
                <td>审核</td>
                <td>查看</td>
            </tr>
        </table>
        <div id="PageList" style="text-align:center;vertical-align:middle; margin-top:10px;"></div>

    </div>

    <form id="form1" name="form1">

        <div class="modal fade" id="myModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" style="display:none;max-height:500px;min-height:200px;width:80%;margin-left:-40%;top:5%;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body" style="max-height: 500px; min-height: 200px; padding: 1px;">
                        <div align="center">
                            <table  border="0" style="border-collapse: collapse;width:100%" cellpadding="0" cellspacing="1" class="detailTable">
                                <tr>
                                    <td width="20%" class="detailTitle" style="height: 25px;">病种名称：<span style="color: #ff0000">*</span></td>
                                    <td colspan="3" width="70%" class="detailContent" style="height:25px;">
                                        <span class="detailContent" style="height: 25px">
                                            <input type="text" id="disease_name" name="disease_name" style="width:200px" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" class="detailTitle" style="height: 25px;">病人姓名：<span style="color: #ff0000">*</span></td>
                                    <td width="30%" class="detailContent" style="height:25px;">
                                        <span class="detailContent" style="height: 25px">
                                            <input type="text" id="patient_name" name="patient_name" style="width:150px" />
                                        </span>
                                    </td>
                                    <td width="20%" class="detailTitle" style="height: 25px;">病历号：<span style="color: #ff0000">*</span></td>
                                    <td width="30%" class="detailContent" style="height:25px;">
                                        <span class="detailContent" style="height: 25px"> 
                                            <input type="text" id="case_num" name="case_num" style="width:150px" />
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="20%" class="detailTitle" style="height: 25px;">主要诊断：<span style="color: #ff0000">*</span></td>
                                    <td colspan="3" width="70%" class="detailContent">
                                        <textarea id="main_diagnosis" name="main_diagnosis" style="min-height:50px; max-height:120px;width:90%;"></textarea>

                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" class="detailTitle" style="height: 25px;">次要诊断：</td>
                                    <td colspan="3" width="70%" class="detailContent">
                                        <textarea id="secondary_diagnosis" name="secondary_diagnosis" style="min-height:50px; max-height:120px;width:90%;"></textarea>

                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" class="detailTitle" style="height: 25px;">是否主管：<span style="color: #ff0000">*</span></td>
                                    <td width="30%" class="detailContent" style="height:25px;">
                                        <span class="detailContent" style="height: 25px">
                                            <label><input type="radio" name="is_charge" value="是" />是</label>
                                            <label><input type="radio" name="is_charge" value="否" />否</label>
                                        </span>
                                    </td>
                                    <td width="20%" class="detailTitle" style="height: 25px;">是否抢救：<span style="color: #ff0000">*</span></td>
                                    <td width="30%" class="detailContent" style="height:25px;">
                                        <span class="detailContent" style="height: 25px">
                                            <label><input type="radio" name="is_rescue" value="是" />是</label>
                                            <label><input type="radio" name="is_rescue" value="否" />否</label>
                                        </span>
                                    </td>
                                </tr>

                                <tr>
                                    <td width="20%" class="detailTitle" style="height: 25px;">治疗措施：<span style="color: #ff0000">*</span></td>
                                    <td colspan="3" width="70%" class="detailContent">
                                        <textarea id="cure_measure" name="cure_measure" style="min-height:50px; max-height:120px;width:90%;"></textarea>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" class="detailTitle" style="height: 25px;">出诊日期：<span style="color: #ff0000">*</span></td>
                                    <td width="30%" class="detailContent" style="height:25px;">
                                        <span class="detailContent" style="height: 25px">
                                            <input type="text" id="visit_date" name="visit_date" style="width:150px;" />
                                        </span>
                                    </td>
                                    <td width="20%" class="detailTitle" style="height: 25px;">转归情况：</td>
                                    <td width="30%" class="detailContent" style="height:25px;">
                                        <span class="detailContent" style="height: 25px">
                                            <input type="text" id="condition" name="condition" style="width:150px;" />
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="20%" class="detailTitle" style="height: 25px;">备注：</td>
                                    <td colspan="3" width="70%" class="detailContent">
                                        <textarea id="comment" name="comment" style="min-height:50px; max-height:120px;width:90%;"></textarea>
                                    </td>
                                </tr>

                            </table> 
                        </div>
                    </div>

                    <div class="modal-footer" style="margin: auto; text-align: center;">
                        <input type="button" id="close" name="close" class="btn btn-default" data-dismiss="modal" value="关闭" />
                        @*<input type="button" id="submit" name="submit" class="btn btn-success" value="提交" onclick="TiJiao()" />*@
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </form>
</body>
</html>
